h1, h2, h3, h4, h5 , h6 {
    color: white;
}
a {
    color: white;
}
body {
    background-color: #40b4fc;
}
#frontimage {
    margin-right: 300px;
    width: 700px;
    height: auto;
    margin-top: -200px;
    margin-left: 1000px;
    border: 5px solid white;
}
a {
    text-decoration: none;
}
html * {
    font-family: sans-serif;
}
.headers {
    text-align: right;
    margin-right: 150px;
}